
/* boardBox */
#boardBox{width: 100%; height:auto;
  padding-top: 30px;
  padding-bottom: 30px;}
  

  
.board_container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  width: 100%;
  min-height:450px; height:100%;
  padding-bottom: 5px;
  padding-top: 10px;
  box-sizing:border-box;
  overflow: hidden;
}

.board_container .item{
  width: 100%;height:auto;
}

.board_txt{
width:100%; height: auto;
padding: 5px;
margin-bottom: 5px;
box-sizing: border-box;
text-align: center;
color: var(--color-black);
}

.board_txt h3{
font-size:1.2rem;
}

.board_txt .t{
margin-top:10px;
font-weight: 500;
}