
/* newsBox=========================== */
#newsBox{width: 100%; height:auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F2EFE5;}


  #newsBox .width_1100{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(2,255px);
  }
  
  #newsBox a{
    width: auto; height:100%;
    overflow: hidden;
  }

  #newsBox .item img{
    opacity: 1;
    transition: 0.3s;
  }


  #newsBox .item1{
  grid-column-end:span 2;
  grid-row-end:span 2;}
  
  #newsBox .item2{
  grid-column-end:span 2;
  grid-row-end: span 1;}
  
  #newsBox .item:hover img{
    overflow: hidden;
    transform: scale(1.1);
    opacity:0.5;
  }
