
/* reviewBox============================ */
#reviewBox{width: 100%; height:auto;
  padding-top: 80px;
  padding-bottom: 80px;}
  
  .review_container{
  display: grid;
  grid-column-gap:20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; 
  height:100%; min-height:500px;
  padding-bottom: 80px;}

  #reviewBox .item{
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    background-color: #fff;}
  
  #reviewBox .text_box{
    padding:10px;
  }
  
  
  .R_title{font-weight: 700;}
  
  .R_txt{font-weight: 500;
  color: #c2c2c2;
  padding-top: 10px;
  padding-bottom: 10px;}
  
  .R_star{font-weight:500;
  color: #939393;}
  
  
  #reviewBox .item img{width: 100%;}
  
  #reviewBox .indicator{
      position:absolute;bottom:0px; left:0;
      display:flex;justify-content: center;align-items: center;
      width: 100%; height: 30px;;}
      
  #reviewBox .indi{
      display: inline;
      width:15px;height: 15px;
      margin-left: 17px;
      border-radius: 50px;
      border:1px solid rgba(0,66,54,1);}
      
  