@charset "UTF-8";
/* sub_visualBox.css*/

#sub_visualBox{
width: 100%;height:500px;
display: flex;justify-content: center;align-items: center;
background-color:var(--color-beige);}

.visual_titlebox{
  width: 1000px; height:auto;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  color: var(--color-point);
  font-weight: 600;
}

.visual_titlebox .title{
  font-size: 80px;
  letter-spacing:-3px
}

.visual_title{
  font-size: 24px;
  margin:  30px 0;
}

.visual_text{
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
}