@charset "UTF-8";
/* common.css */

.blind{display: block;
  position: absolute;z-index: -1;
  width: 0; height: 0; overflow: hidden;}

::selection{
  background-color:#b3d4fc;
}


.clearfix{height: auto;}
.clearfix:after,
.clearfix::after{content: "";display: block;clear: both;width: 100%;height: auto;}

.content_wrapper{width: 100%; height: auto;}

.width_1100{position: relative;
width:100%; max-width: 1100px;
height: auto;
margin: 0 auto;}

.width_1400{width: 100%; max-width: 1440px;
height:auto;}

.width_950{
  width: 100%; max-width: 950px;
  height: auto;
  margin: 0 auto;
}
  
.title_box{
  position: absolute;left:-100px;top:0;}

.title_box h2{writing-mode: vertical-rl;
text-orientation: upright;
text-transform: uppercase;
letter-spacing:10px;}

.title_bar{position: absolute;top:100%;right: 0;left: 0;
display:inline;
margin: auto;
width:1px; height: 100px;
background-color:var(--color-black);}