@charset "UTF-8";
/* variable.css */

:root{
  font-size: 16px;
  
  --phone:320px;
  --tablet:600px;
  --laptop:1024px;
  --desktop:1440px;
  --base:var(--desktop);

  /* Color styles */
--color-point: rgba(0, 66, 54, 1);
--color-black: rgba(24, 24, 24, 1);
--color-beige: rgba(243, 239, 230, 1);
--color-white: rgba(255, 255, 255, 1);
--color-lightgray: rgba(210, 210, 210, 1);
--color-gray: rgba(129, 129, 129, 1);
--color-opacity: rgba(156, 156, 156, 0.5);
--color-opacity2: rgba(80, 80, 80, 0.3);
--color-yellow: rgba(214, 206, 75, 1);

/* Font-family styles */
/* --font-set:'Noto Sans KR', sans-serif; */
}