@charset "UTF-8";
/* headerBox=============================== */
#headerBox{
z-index: 100;
position: fixed;
top: 0; left: 0;
width: 100%; height:auto;
background-color:var(--color-white);
}

.head_container{
  width: 100%; max-width: 1100px; margin: 0 auto;
display: flex; justify-content:space-around; align-items: center;
/* border: 1px solid red; */
}

.navigation{width: 100%; height: 100%;
  display: flex; ;
/* border: 1px solid red; */
}
  
.menu_container{width: 100%; height: 100%;
/* background-color: #A6F422; */
}

.head_Menu{
display: flex;justify-content:space-around;align-items: center;
width: auto;height: 100%;
/* background-color: #DD5E6D; */
}

.head_li{width: auto; height: 100%;
padding: 0 10px;
text-align: center;
font-weight: 700;
/* border: 1px solid red; */
}


.unb_Box{
position: relative;
width: auto;height:auto;
}

.unb_Box::after{
  content: "";
  position: absolute;top: 5px;left:-10px;
  margin:auto;
  width:0;
  height: 20px;
  border-left: 2px solid red;
  border: 1px solid #eee;
}



.unb{display: flex;align-items: center;}
.unb_li{width:auto; height: auto; padding:0 5px;
margin-left: 8px;}
.unb_li:first-child{margin-left: 0;}

.menu_bg, .on{
display: none;
position: absolute; top:130px; left: 0;
width: 100%; height: auto;
box-sizing: border-box;
background-color: var(--color-white);
}

.sub_menu{
width: 100%;max-width:1100px; 
height:auto;
margin: 0 auto;
padding: 20px 0;
box-sizing: border-box;
display: flex; justify-content: space-between;}

.sub_li{
width:auto;height: auto;
padding:0 10px;
padding-top: 10px;
box-sizing: border-box;
text-align: left;
font-weight: 600;
color: var(--color-point);
}

.sub_li:first-child{margin-left: 0;}

.cata_menu{width:100%; height: auto;
font-weight:400;
margin-top:10px;
padding: 0 5px;
border-right: 1px solid #eee;
}

.cata_li{
width:100%;
box-sizing: border-box;
padding:5px 0;
color: var(--color-point);
}

.cata_li:first-child{margin-top: 10px;}

/* ad */
#ad_contant{
position: absolute; top: 90px;left: 0;
width: 100%;height:40px;
box-sizing: border-box;
background-color:#3a857e;}

.ad_container{width: 100%; height:100%;
box-sizing: border-box;
text-align: center;
font-weight:400;}

.ad_container p {
  height: 100%;
  font-size:15px;
  padding-top:8px;
  box-sizing: border-box;
  color: var(--color-white);}

.ad_container a{
color: var(--color-white);
border-bottom: 1px solid var(--color-white);
}

.ad_container a:hover{
  color:var(--color-yellow);
  border-bottom: 0;
}

/* 메뉴 호버 */

