@charset "UTF-8";
/* newinBox.css */

#newinBox{width: 100%;max-width: 1100px;
height: auto;
margin: 0 auto;
padding:42px 0;
/* background-color: #912200; */
}

.newin_title_container{
  width: 100%; height: auto;
  display: flex; justify-content:space-between;align-items: center;
  border-bottom: 2px solid var(--color-lightgray);
}

.newin_title_container .title{
  font-size: 28px;
  font-weight: 600;
}

.labe{
  position: relative;
  width: auto;height: auto;
  background-color: #EDEF54;
}

.labe .select{
  width: 74px;height: 34px;
  color: var(--color-point);
  padding: 0 5px;
  border: 1px solid var(--color-lightgray);
}


.newin_product_container{
  width: 100%; height: auto;
  padding: 40px 0;
  /* background-color: #97EBE7; */
}

.product_content{
  width: 100%; height:100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap:18px;
  padding: 0 0 60px;
  box-sizing: border-box;
  text-align: center;
}

.n_product{
  width: 100%;height: auto;
  background-color: var(--color-white);
}

.n_img{
  width: 100%;
}

.n_textbox{
width: 100%; height: auto;
margin-top: 10px;
}

.n_issue{
  display: flex;justify-content: center; align-items: center;
  width: 62px; height: 22px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding:1px;
  box-sizing: border-box;
  border-radius: 100px;
  color: var(--color-white);
  background-color: var(--color-point);
  
}

.n_product_name{
  font-size: 16px;
  font-weight:500;
  margin-bottom:5px;
}

.n_tag{
  font-size: 12px;
  font-weight:600;
  color: var(--color-gray);
}

.n_tag span{padding: 0 1px;}

.price{
  margin-top:15px;
  font-size: 14px;
  font-weight: 600;
}

.more_btn{width: 100%;height: 40px;
margin-top: 30px;
text-align: center;
line-height: 40px;
background-color:var(--color-beige);}

.more_btn button{
font-size: 20px;
font-weight:700;

color: var(--color-point);
}
